<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.evidences.user.mapper.UserMapper">

    <select id="userAuthorization" resultType="com.evidences.user.entity.User">
        SELECT `user_id`,
               `name`
        FROM `user` WHERE `user_id` = #{username} AND `password` = #{password}
    </select>
    
    <select id="getUserStatistics" resultType="com.evidences.user.dto.UserStatistics">
        SELECT `user_id`,
               `name`,
               `telephone`,
               `editions`
        FROM `user_with_statistics` WHERE `user_id` = #{userId}
    </select>

</mapper>